<div class="row">
    <div class="col-xs-10">
        <!-- <app-shopping-edit (ingredientAdded)="onIngridentAdded($event)"></app-shopping-edit> -->
        <app-shopping-edit></app-shopping-edit>
        <!-- <router-outlet></router-outlet> -->
        <hr>
        <ul class="list-group ">
            <a class="list-group-item" *ngFor="let ingredients of ingredients;let i = index" (click)="onEditItem(i)">
                {{ingredients.name}}({{ingredients.amount}}) </a>
        </ul>
    </div>
</div>